@{
    ViewData["Title"] = "Home Page";
}


        <div class="header-content">

            <div>
                <h1>Reveillon 2022</h1>
                <p> <b>O embarque está próximo, junte-se a nós nessa experiência!</b> </p>
                <a href="file:///C:/Users/Remakker/Desktop/t2.danyelle-rodrigues/BiGuila_Tour/Front/excursoes.html"><button>Saiba
                        Mais</button></a>
            </div>

            <div class="onibus" id="bloco">

                <img />

            </div>

        </div>



